.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: Arial, Helvetica, sans-serif;
}

.text-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.image-container {
    margin-right: 30px;
}

.sub-title-container p {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding: 1px 0px;
    margin: 5px 0px;
}

.content-container p {
    margin: 0px;
    padding: 2px;
}

.movie-image {
    max-height: 550px;
    max-width: 400px;
}

.dialog-title {
    font-size: 40px;
}

.no-borders {
    padding: 0px;
    margin: 0px;
}

.plot {
    margin-top: 13px;
    margin-bottom: 16px;
    color: rgb(75, 63, 69);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.reviews-title {
    font-size: 20px;
    font-weight: bolder;
    font-style: initial;
}

.rating-container {
    margin-top: 7px;
}