@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    background-color: rgba(0, 0, 0, 0.986);
    color: rgb(170, 168, 168);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 30px;
}